extends layout.pug

block content
    section.container
        h2 Bienvenue
        div.mt-4
            button.btn.btn-primary(onclick="listMessage()") Afficher les messages 
            div#list-message.mt-4